.home
	height: 100vh
	width: 100vw
	display: flex
	flex-flow: column
	justify-content: center
	align-items: center
	overflow: hidden

	> div
		&:first-of-type
			height: 20vh
			width: 100vw
			display: flex
			justify-content: center

			> div
				height: 20vh
				width: 100vw
				// background-color: rgba(252, 247, 247, 0.50)
				border-radius: 1rem
				display: flex
				justify-content: center
				h1
					padding-top: 7rem
					font-size: 6rem
					color: #fff
					font-family: 'Press Start 2P', cursive
					animation: neonRed 1.5s ease-in-out infinite alternate
		&:last-of-type
			height: 20vh
			width: 100vw
			border-radius: 1.5rem
			display: flex
			justify-content: flex-end
			> div
				height: 20vh
				width: 97vw
				padding-top: 20rem
				// background-color: rgba(252, 247, 247, 0.50)
				color: white
				display: flex
				flex-flow: column
				justify-content: center
				align-items: center
				border-top-left-radius: 1rem
				border-bottom-left-radius: 1rem

				form
					> div
						height: 1rem
						width: 25rem
						border-left: 0.2rem solid white
						border-right: 0.2rem solid white
						border-bottom: 0.2rem solid white
						border-bottom-left-radius: .5rem
						border-bottom-right-radius: .5rem
						input
							transform: translateY(-1.7rem)
							position: relative
							border: none
							width: 24.6rem
							height: 2.5rem
							background-color: rgba(0, 0, 0, 0)
							border-bottom-left-radius: .5rem
							border-bottom-right-radius: .5rem
							color: white
							font-size: 1.5rem
							padding-left: 1rem
							&:focus
								outline: none
							&::placeholder
								transform: translateX(-1rem)
								font-family: 'Rajdhani', sans-serif
								text-align: center
								color: white
								font-size: 1.5rem
						> div
							width: 25rem
							display: flex
							justify-content: flex-end
							div
								width: 8rem
								cursor pointer
								text-align: center
								font-size: 1.5rem
								font-family: 'Rajdhani', sans-serif
								border: 0.2rem solid white
								border-radius: .5rem

				.home-form-error
					animation: shake 1s cubic-bezier(.36,.07,.19,.97) both
					transform: translate3d(0, 0, 0)
					backface-visibility: hidden
					perspective: 1000px

					> div
						input
							&::placeholder
								font-family: 'Varela Round', sans-serif;
								color: red
		form
			display: flex
			flex-flow: column
			justify-content: center
			align-items: center

	.test
		height: 100%
		width: auto

	.moveInDivTop
		animation: moveInTop 2.5s
	.moveOutDivDown
		animation: moveOutDown 2.5s ease-in-out
	.hideDiv
		animation: moveOutDown 2.5s ease-in-out
		animation-fill-mode: forwards
	.showDiv
		animation: moveInBottom 2.5s


@keyframes blink {
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

@keyframes moveInTop {
	0%{
		opacity: 0;
		transform: translateY(-100rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0rem);
	}
}

@keyframes moveInBottom {
	0%{
		opacity: 0;
		transform: translateY(100rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0rem);
	}
}

@keyframes moveOutDown {
	0%{
		opacity: 1;
		transform: translateY(0rem);
	}
	100%{
		opacity: 0;
		transform: translateY(500rem);
	}
}

@keyframes opacityIn {
	0%{
		opacity: 0
	}
	100%{
		opacity: 1
	}
}

@keyframes opacityOut {
	0%{opacity: 1}
	100%{
		opacity: 0
	}
}

@keyframes neonRed {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
	}
}

.face:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
	transform: translate3d(0, 0, 0)
	backface-visibility: hidden
	perspective: 1000px
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
