$inset-glow = 0px 0px 30px 0px rgba(0,0,0,0.75), \
						inset 0rem 0 5.8rem #1F62D4

$menu-background = rgba(34, 34, 44, 0.5)

.lobby-chat-new
	// background: $menu-background
	background-attachment:fixed
	background-position:center
	height: 50vh
	width: 80vw
	transform: translateY(-200rem)
	animation: moveInRight 2s
	animation-delay: .5s
	animation-fill-mode: forwards
	display: flex
	flex-flow: row

	> div
		background: $menu-background
		display: flex
		flex-flow: row
		justify-content: space-around
		height: 100%

		&:nth-of-type(1)
			flex-grow: 3
			display: flex
			flex-flow: column
			// box-shadow: $inset-glow
		&:nth-of-type(2)
			background: none
			max-width: 2rem
			min-width: 2rem
		&:last-of-type
			flex-grow: 1
			// box-shadow: $inset-glow

		> div
			display: flex
			justify-content: center
			&:first-of-type
				height: 3rem
				border-top-left-radius: 1.5rem
				border-top-right-radius: 1.5rem
			// animation: neonBlue 1.5s ease-in-out infinite alternate
			&:last-of-type
				flex-grow: 2

			h1
				color: $tetris-red
				font-size: 3rem
				// font-family: 'Rajdhani', sans-serif
				font-family: 'Gugi', cursive;


.lobby-rooms
	background: $menu-background
	background-attachment:fixed
	background-position:center
	height: 45vh
	width: 80vw
	display: flex
	flex-flow: column
	// border: white 1px solid
	transform: translateY(-200rem)
	animation: moveInLeft 2s
	animation-delay: .5s
	animation-fill-mode: forwards
	// box-shadow: $inset-glow

	> div
		// background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('./static/hex.png')
		height: 100%
		width: 100%

		&:first-of-type
			height: 6rem
			display: flex
			justify-content: center
			> div
				// background: rgba(4, 106, 247, 0.98)
				width: 100%
				height: 3rem
				// animation: neonBlue 1.5s ease-in-out infinite alternate

				> div
					width: 100%
					height: 3rem
					display: flex
					justify-content: center

					h1
						z-index: 100
						color: $tetris-red
						font-size: 3rem
						// font-family: 'Audiowide', cursive
						// font-family: 'Mandali', sans-serif;
						// font-family: 'Poiret One', cursive;
						// font-family: 'Questrial', sans-serif;
						// font-family: 'Rajdhani', sans-serif;
						font-family: 'Gugi', cursive;

			// > div
			// 	background: rgba(0, 0, 0, 0.5)
			// 	width: 100%
			// 	height: 100%
			// 	border-radius: 1.5rem

		> h1
			z-index: 100
			color: #24D9C5
			font-size: 3rem
			font-family: 'Audiowide', cursive
			// transform: translate(-2rem, -1.5rem)

.neon-red
	animation: neonRed 1.5s ease-in-out infinite alternate
.neon-blue
	animation: neonViolet 1.5s ease-in-out infinite alternate


@keyframes moveInUp{
	0% {
		opacity: 1
		transform: translateY(200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInDown{
	0% {
		opacity: 1
		transform: translateY(-200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInLeft{
	0% {
		opacity: 1
		transform: translateX(200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}

@keyframes moveInRight{
	0% {
		opacity: 1
		transform: translateX(-200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}


@keyframes neonBlue {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
}

@keyframes neonGreen {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	}
}

@keyframes neonViolet {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}
