$inset-glow = 0px 0px 30px 0px rgba(0,0,0,0.75), \
						inset 0rem 0 5.8rem #1F62D4

$menu-background = rgba(34, 34, 44, 0.5)

.lobby-chat-new
	background-attachment:fixed
	background-position:center
	height: 50vh
	width: 80vw
	display: flex
	flex-flow: row

	> div
		background: $menu-background
		display: flex
		flex-flow: column
		justify-content: space-around
		height: 100%

		&:nth-of-type(1)
			flex-grow: 3
			transform: translateY(-200rem)
			animation: moveInRight 2s
			animation-delay: .5s
			animation-fill-mode: forwards
			transition: width 2s ease-in-out
		&:nth-of-type(2)
			background: none
			max-width: 2rem
			min-width: 2rem
		&:last-of-type
			flex-grow: 1
			transform: translateY(200rem)
			animation: moveInLeft 2s
			animation-delay: .1s
			animation-fill-mode: forwards

		> div
			&:first-of-type
				height: 4rem
				display: flex
				justify-content: center
			&:nth-of-type(2)
				flex-grow: 2
				width: 100%
				display: flex
				justify-content: center

				> div.chat-room
					width: 90%
					border-top: grey 1px solid
					display: flex
					flex-flow: column
					align-items: center
					// background: white

				> div.new-room-inputs
					width: 90%
					border-top: grey 1px solid
					display: flex
					flex-flow: column
					justify-content: space-around
					align-items: center

					> div
						height: 2.5rem
						width: 100%
						border-left: 0.2rem solid #23D6C0
						border-right: 0.2rem solid #23D6C0
						border-bottom: 0.2rem solid #23D6C0
						border-top: 0.2rem solid #23D6C0
						// border-bottom-left-radius: .5rem
						// border-bottom-right-radius: .5rem
						display: flex
						justify-content: center

						> input
							// transform: translateY(-1.2rem)
							height: 2rem
							width: 100%
							text-align: center
							background: none
							border: none
							// border-bottom: grey 1px solid
							font-family: 'Gugi', cursive;
							font-size: 1.5rem

							&::placeholder
								color: white
								font-family: 'Gugi', cursive;



			&:last-of-type
				width: 100%
				display: flex
				justify-content: center
				min-height: 3rem

				> div
					width: 30%
					min-height: 3rem
					border-left: grey 1px solid
					border-right: grey 1px solid
					border-top: grey 1px solid
					font-family: 'Gugi', cursive;
					border-top-left-radius: 0.2rem
					border-top-right-radius: 0.2rem
					color: white
					text-align: center

					> div
						min-height: 3rem
						padding-top: 0.2rem
						cursor: pointer
						display: flex
						justify-content: center
						align-items: center
				
				> input
					width: 90%
					background: none
					border: none
					border-top: grey 1px solid
					border-bottom: grey 1px solid
					color: white
					font-family: 'Gugi', cursive;
					padding-left: 1rem

					&:focus
						outline: none

					&::placeholder
						color: #FC1576
						font-family: 'Gugi', cursive;
			h1
				color: white
				font-size: 3rem
				font-family: 'Catamaran', sans-serif;

	.hide
		display: none

.lobby-rooms
	background: $menu-background
	background-attachment:fixed
	background-position:center
	height: 45vh
	width: 80vw
	display: flex
	flex-flow: column
	transform: translateY(-200rem)
	animation: moveInUp 2s
	animation-delay: .5s
	animation-fill-mode: forwards

	> div
		display: flex
		height 100%

		> div
			height: 100%

			&:first-of-type
				flex-grow: 2
			
			&:last-of-type
				flex-grow: 1
				height 100%
				display: flex
				justify-content: flex-end

				> div
					background: #fc1576;
					height: 3rem;
					width: 3rem;
					text-align: center;
					align-items: center;
					align-content: center;
					font-size: 2.3rem;
					border-bottom-left-radius: .5rem;
					cursor: pointer;

			&:nth-of-type(2)
				display: flex
				justify-content: center
				flex-flow: column
				height 100%
				align-items: center
				flex-grow: 28
				> div
					width: 100%
					height: 3rem

					&:last-of-type
						flex-grow: 2
						border-top: grey 1px solid
						width: 100%

					> div
						width: 100%
						height: 3rem
						display: flex
						justify-content: center

						h1
							z-index: 100
							color: white
							font-size: 3rem
							// font-family: 'Audiowide', cursive
							// font-family: 'Mandali', sans-serif;
							// font-family: 'Poiret One', cursive;
							// font-family: 'Questrial', sans-serif;
							font-family: 'Rajdhani', sans-serif;
							// font-family: 'Gugi', cursive;


.neon-red
	animation: neonRed 1.5s ease-in-out infinite alternate
.neon-blue
	animation: neonViolet 1.5s ease-in-out infinite alternate


@keyframes moveInUp{
	0% {
		opacity: 1
		transform: translateY(200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInDown{
	0% {
		opacity: 1
		transform: translateY(-200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInLeft{
	0% {
		opacity: 1
		transform: translateX(200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}

@keyframes moveInRight{
	0% {
		opacity: 1
		transform: translateX(-200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}


@keyframes neonBlue {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
}

@keyframes neonGreen {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	}
}

@keyframes neonViolet {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}
