.lobby-rooms
	background: rgba(2, 70, 195, 0.5)
	background-attachment:fixed
	background-position:center
	height: 45vh
	width: 80vw
	border-radius: 1.5rem
	transform: translateY(-200rem)
	animation: moveInRight 2s
	animation-delay: .5s
	animation-fill-mode: forwards
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75)

	> div
		background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('./static/hex.png')
		display: flex
		flex-flow: row
		justify-content: space-around
		height: 100%
		width: 100%

		> div
			height: 100%
			// border: white 1px solid
			border-radius: 1.5rem

			&:nth-of-type(1)
				max-width: 2rem
				min-width: 2rem
			&:nth-of-type(2)
				flex-grow: 4
			&:nth-of-type(3)
				max-width: 2rem
				min-width: 2rem
			&:last-of-type
				flex-grow: 1

			> div
				&:first-of-type
					background: rgba(130, 12, 227, 0.5)
					height: 3rem
					border-bottom-left-radius: none
					border-bottom-right-radius: none
				// animation: neonBlue 1.5s ease-in-out infinite alternate
				&:last-of-type
					background: rgba(12, 126, 251, 0.5)
					height: 95%

				> div
					background: rgba(255, 255, 255, 0.15)
					height: 3rem

					h1
						color: white
						font-size: 3rem
						font-family: 'Audiowide', cursive


.lobby-chat
	background: rgba(2, 70, 195, 0.5)
	background-attachment:fixed
	background-position:center
	height: 45vh
	width: 80vw
	display: flex
	flex-flow: column
	// border: white 1px solid
	border-radius: 1.5rem
	transform: translateY(-200rem)
	animation: moveInLeft 2s
	animation-delay: .5s
	animation-fill-mode: forwards

	> div
		background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('./static/hex.png')
		height: 100%
		width: 100%

		&:first-of-type
			height: 6rem
			border-top-left-radius: 1.5rem
			border-top-right-radius: 1.5rem
			display: flex
			justify-content: center
			> div
				// background: rgba(4, 106, 247, 0.98)
				border-top-left-radius: 1.5rem
				border-top-right-radius: 1.5rem
				background: rgba(130, 12, 227, 0.5)
				width: 90%
				height: 3rem
				// animation: neonBlue 1.5s ease-in-out infinite alternate

				> div
					border-top-left-radius: 1.5rem
					border-top-right-radius: 1.5rem
					background: rgba(255, 255, 255, 0.15)
					width: 100%
					height: 3rem

					h1
						z-index: 100
						color: white
						font-size: 3rem
						font-family: 'Audiowide', cursive
		&:last-of-type
			border-bottom-left-radius: 1.5rem
			border-bottom-right-radius: 1.5rem
			display: flex
			justify-content: center
			align-items: center

			// > div
			// 	background: rgba(0, 0, 0, 0.5)
			// 	width: 100%
			// 	height: 100%
			// 	border-radius: 1.5rem

		> h1
			z-index: 100
			color: white
			font-size: 3rem
			font-family: 'Audiowide', cursive
			// transform: translate(-2rem, -1.5rem)

.neon-red
	animation: neonRed 1.5s ease-in-out infinite alternate
.neon-blue
	animation: neonViolet 1.5s ease-in-out infinite alternate


@keyframes moveInUp{
	0% {
		opacity: 1
		transform: translateY(200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInDown{
	0% {
		opacity: 1
		transform: translateY(-200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInLeft{
	0% {
		opacity: 1
		transform: translateX(200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}

@keyframes moveInRight{
	0% {
		opacity: 1
		transform: translateX(-200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}


@keyframes neonBlue {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
}

@keyframes neonGreen {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	}
}

@keyframes neonViolet {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}
