$inset-glow = 0px 0px 30px 0px rgba(0,0,0,0.75), \
						inset 0rem 0 5.8rem #1F62D4

$menu-background = rgba(34, 34, 44, 0.5)
$tetris-purple = rgba(118, 71, 245, 1)
$tetris-green = rgba(35, 214, 192, 1)
$tetris-red = #fc1576
$tetris-blue = #0084FF
$tetris-cyan = #00DDEF

@import './chat'
@import './rooms'


@keyframes moveInUp{
	0% {
		opacity: 1
		transform: translateY(200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInDown{
	0% {
		opacity: 1
		transform: translateY(-200rem)
	}
	100% {
		opacity: 1
		transform: translateY(0rem)
	}
}

@keyframes moveInLeft{
	0% {
		opacity: 1
		transform: translateX(200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}

@keyframes moveInRight{
	0% {
		opacity: 1
		transform: translateX(-200rem)
	}
	100% {
		opacity: 1
		transform: translateX(0rem)
	}
}
