@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Gugi|Jura|Orbitron|VT323|Varela+Round')
@import url('https://fonts.googleapis.com/css?family=Armata|Asap|Chathura|Dosis|Encode+Sans|Mandali|Maven+Pro|Montserrat|Offside|PT+Sans+Caption|Poiret+One|Questrial|Rajdhani|Saira|Unica+One|Varela+Round|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Biryani:700|Cantarell:700|Do+Hyeon|Dosis:700|Exo+2:600|Gugi|Miriam+Libre:700');
@import url('https://fonts.googleapis.com/css?family=Catamaran');

$tetris-red = #BE0712

*
	user-select: none
	box-sizing: border-box
	padding: 0
	margin: 0

html
	font-size: 10px
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%)


body
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%)
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	margin: 0
	font-family: 'Quicksand', sans-serif
	min-width 500px


.container-home
	background: #2A2B39
	background-repeat: no-repeat
	background-size: cover
	background-attachment:fixed
	background-position:center
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right 0
	width: 100%
	overflow-y: scroll
	overflow-x: hidden
	margin: 0
	display: flex
	flex-flow: column
	justify-content: flex-start
	align-items: center
	z-index: 100
	animation: gradientEaseIn 1.5s ease-out

.container-fade
	animation: gradientEaseOut 1.5s ease-out

.container-lobby
	background: linear-gradient(135deg, rgba(113,109,135,1) 0%, rgba(42,43,57,1) 72%, rgba(42,43,57,1) 100%);
	background-repeat: no-repeat
	background-size: cover
	background-attachment:fixed
	background-position:center
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right 0
	width: 100%
	overflow-y: scroll
	overflow-x: hidden
	margin: 0
	display: flex
	flex-flow: column
	justify-content: space-around
	align-items: center
	z-index: 100
	overflow: hidden
	animation: gradientEaseIn 2.5s ease-out

// .container-home
// 	background: black
// 	background-repeat: no-repeat
// 	background-size: cover
// 	background-attachment:fixed
// 	background-position:center
// 	position: fixed
// 	top: 0
// 	left: 0
// 	bottom: 0
// 	right 0
// 	width: 100%
// 	overflow-y: scroll
// 	overflow-x: hidden
// 	margin: 0
// 	display: flex
// 	flex-flow: column
// 	justify-content: flex-start
// 	align-items: center


h1, h2, h3, h4, h5, p
	margin 0
	padding 0


#container
	display: grid
	grid-template-columns: 1fr 3fr
	grid-template-areas: 'sidebar main'
	width: 100vw
	height: 100vh

#main
	grid-area: main

#new-message
	position: fixed
	bottom: 0
	width: 100%
	padding: 5px
	margin-left: 0px
	border-top: 1px solid #3f3f3f

#messages-list
	padding: 5px 0 0 5px

@import "./components/sidebar"
@import "./components/home"
@import "./components/lobby"


@keyframes gradientEaseIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes gradientEaseInRight {
	0% {
		transform: translateX(-100rem);
		opacity: 0;
	}

	100% {
		transform: translateX(0rem);
		opacity: 1;
	}
}

@keyframes gradientEaseOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
