.container-game
	> i
		font-size: 20rem

	.container-boards

	#player-grid
		margin 0
		display flex
		flex-wrap wrap
		justify-content center
		height: 70vh
		width: 36vh

		> div
			width 100%
			// max-width 2.2vw
			// max-height 2.2vw
			// border solid #ccc 0.5px
			display: flex
			flex-flow: row

			> div
				width: 100%
				border solid #ccc 0.5px
