@import url("https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Gugi|Jura|Orbitron|VT323|Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Armata|Asap|Chathura|Dosis|Encode+Sans|Mandali|Maven+Pro|Montserrat|Offside|PT+Sans+Caption|Poiret+One|Questrial|Rajdhani|Saira|Unica+One|Varela+Round|Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Biryani:700|Cantarell:700|Do+Hyeon|Dosis:700|Exo+2:600|Gugi|Miriam+Libre:700");
* {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  background: linear-gradient(135deg, #000 0%, #000 100%);
}
body {
  background: linear-gradient(135deg, #000 0%, #000 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  min-width: 500px;
}
.container-home {
  background: #2a2b39;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  animation: gradientEaseIn 1.5s ease-out;
}
.container-fade {
  animation: gradientEaseOut 1.5s ease-out;
}
.container-lobby {
  background: linear-gradient(135deg, #716d87 0%, #2a2b39 72%, #2a2b39 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  animation: gradientEaseIn 2.5s ease-out;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'sidebar main';
  width: 100vw;
  height: 100vh;
}
#main {
  grid-area: main;
}
#new-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-left: 0px;
  border-top: 1px solid #3f3f3f;
}
#messages-list {
  padding: 5px 0 0 5px;
}
#sidebar {
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 1px solid #3f3f3f;
  height: 100%;
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home > div:first-of-type {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.home > div:first-of-type > div {
  height: 20vh;
  width: 100vw;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.home > div:first-of-type > div h1 {
  padding-top: 7rem;
  font-size: 6rem;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  animation: neonRed 1.5s ease-in-out infinite alternate;
}
.home > div:last-of-type {
  height: 20vh;
  width: 100vw;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.home > div:last-of-type > div {
  height: 20vh;
  width: 97vw;
  padding-top: 20rem;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.home > div:last-of-type > div form > div {
  height: 1rem;
  width: 25rem;
  border-left: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.home > div:last-of-type > div form > div input {
  transform: translateY(-1.7rem);
  position: relative;
  border: none;
  width: 24.6rem;
  height: 2.5rem;
  background-color: rgba(0,0,0,0);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.home > div:last-of-type > div form > div input:focus {
  outline: none;
}
.home > div:last-of-type > div form > div input::placeholder {
  transform: translateX(-1rem);
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.home > div:last-of-type > div form > div > div {
  width: 25rem;
  display: flex;
  justify-content: flex-end;
}
.home > div:last-of-type > div form > div > div div {
  width: 8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Rajdhani', sans-serif;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
}
.home > div:last-of-type > div .home-form-error {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.home > div:last-of-type > div .home-form-error > div input::placeholder {
  font-family: 'Varela Round', sans-serif;
  color: #f00;
}
.home > div form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home .test {
  height: 100%;
  width: auto;
}
.home .moveInDivTop {
  animation: moveInTop 2.5s;
}
.home .moveOutDivDown {
  animation: moveOutDown 2.5s ease-in-out;
}
.home .hideDiv {
  animation: moveOutDown 2.5s ease-in-out;
  animation-fill-mode: forwards;
}
.home .showDiv {
  animation: moveInBottom 2.5s;
}
.face:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-o-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-moz-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-o-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-moz-keyframes moveOutDown {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(500rem);
  }
}
@-webkit-keyframes moveOutDown {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(500rem);
  }
}
@-o-keyframes moveOutDown {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(500rem);
  }
}
@keyframes moveOutDown {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(500rem);
  }
}
@-moz-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f17, 0 0 70px #f17, 0 0 80px #f17, 0 0 100px #f17, 0 0 150px #f17;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f17, 0 0 35px #f17, 0 0 40px #f17, 0 0 50px #f17, 0 0 75px #f17;
  }
}
@-webkit-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f17, 0 0 70px #f17, 0 0 80px #f17, 0 0 100px #f17, 0 0 150px #f17;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f17, 0 0 35px #f17, 0 0 40px #f17, 0 0 50px #f17, 0 0 75px #f17;
  }
}
@-o-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f17, 0 0 70px #f17, 0 0 80px #f17, 0 0 100px #f17, 0 0 150px #f17;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f17, 0 0 35px #f17, 0 0 40px #f17, 0 0 50px #f17, 0 0 75px #f17;
  }
}
@keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f17, 0 0 70px #f17, 0 0 80px #f17, 0 0 100px #f17, 0 0 150px #f17;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f17, 0 0 35px #f17, 0 0 40px #f17, 0 0 50px #f17, 0 0 75px #f17;
  }
}
@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-o-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.lobby-chat-new {
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  width: 80vw;
  transform: translateY(-200rem);
  animation: moveInRight 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-flow: row;
}
.lobby-chat-new > div {
  background: rgba(34,34,44,0.5);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 100%;
}
.lobby-chat-new > div:nth-of-type(1) {
  flex-grow: 3;
  display: flex;
  flex-flow: column;
}
.lobby-chat-new > div:nth-of-type(2) {
  background: none;
  max-width: 2rem;
  min-width: 2rem;
}
.lobby-chat-new > div:last-of-type {
  flex-grow: 1;
}
.lobby-chat-new > div > div {
  display: flex;
  justify-content: center;
}
.lobby-chat-new > div > div:first-of-type {
  height: 3rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.lobby-chat-new > div > div:last-of-type {
  flex-grow: 2;
}
.lobby-chat-new > div > div h1 {
  color: #be0712;
  font-size: 3rem;
  font-family: 'Gugi', cursive;
}
.lobby-rooms {
  background: rgba(34,34,44,0.5);
  background-attachment: fixed;
  background-position: center;
  height: 45vh;
  width: 80vw;
  display: flex;
  flex-flow: column;
  transform: translateY(-200rem);
  animation: moveInLeft 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.lobby-rooms > div {
  height: 100%;
  width: 100%;
}
.lobby-rooms > div:first-of-type {
  height: 6rem;
  display: flex;
  justify-content: center;
}
.lobby-rooms > div:first-of-type > div {
  width: 100%;
  height: 3rem;
}
.lobby-rooms > div:first-of-type > div > div {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.lobby-rooms > div:first-of-type > div > div h1 {
  z-index: 100;
  color: #be0712;
  font-size: 3rem;
  font-family: 'Gugi', cursive;
}
.lobby-rooms > div > h1 {
  z-index: 100;
  color: #24d9c5;
  font-size: 3rem;
  font-family: 'Audiowide', cursive;
}
.neon-red {
  animation: neonRed 1.5s ease-in-out infinite alternate;
}
.neon-blue {
  animation: neonViolet 1.5s ease-in-out infinite alternate;
}
@-moz-keyframes moveInUp {
  0% {
    opacity: 1;
    transform: translateY(200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes moveInUp {
  0% {
    opacity: 1;
    transform: translateY(200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-o-keyframes moveInUp {
  0% {
    opacity: 1;
    transform: translateY(200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 1;
    transform: translateY(200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-moz-keyframes moveInDown {
  0% {
    opacity: 1;
    transform: translateY(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes moveInDown {
  0% {
    opacity: 1;
    transform: translateY(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-o-keyframes moveInDown {
  0% {
    opacity: 1;
    transform: translateY(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveInDown {
  0% {
    opacity: 1;
    transform: translateY(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-moz-keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-o-keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-moz-keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-o-keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-moz-keyframes neonBlue {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@-webkit-keyframes neonBlue {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@-o-keyframes neonBlue {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@keyframes neonBlue {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@-moz-keyframes neonGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00, 0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00, 0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}
@-webkit-keyframes neonGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00, 0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00, 0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}
@-o-keyframes neonGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00, 0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00, 0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}
@keyframes neonGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00, 0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00, 0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}
@-moz-keyframes neonViolet {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@-webkit-keyframes neonViolet {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@-o-keyframes neonViolet {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@keyframes neonViolet {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@-moz-keyframes gradientEaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes gradientEaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes gradientEaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradientEaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes gradientEaseInRight {
  0% {
    transform: translateX(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes gradientEaseInRight {
  0% {
    transform: translateX(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@-o-keyframes gradientEaseInRight {
  0% {
    transform: translateX(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes gradientEaseInRight {
  0% {
    transform: translateX(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@-moz-keyframes gradientEaseOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes gradientEaseOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes gradientEaseOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes gradientEaseOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
